<ion-header>

  <ion-navbar>
    <ion-buttons>
      <button ion-button clear (click)="dismissModal()">Fermer</button>
    </ion-buttons>
    <ion-title>{{ appareil.name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card [ngClass]="{ 'is-on': appareil.status === 'allumé', 'is-off': appareil.status === 'éteint' }">
    <ion-card-header>{{ appareil.name }}</ion-card-header>
    <ion-card-content>
      <p>Statut : {{ appareil.status }}</p>
      <p *ngFor="let description of appareil.description">{{ description }}</p>
    </ion-card-content>
  </ion-card>
  <ion-grid>
    <ion-row>

      <ion-col *ngIf="appareil.status === 'allumé'">
        <button ion-button
                full
                color="danger"
                (click)="onToggleAppareil()">Eteindre</button>
      </ion-col>

      <ion-col *ngIf="appareil.status === 'éteint'">
        <button ion-button
                full
                color="secondary"
                (click)="onToggleAppareil()">Allumer</button>
      </ion-col>

    </ion-row>
  </ion-grid>

  <form action="" #f="ngForm" (ngSubmit)="onSubmitForm(f)">
    <ion-list>

      <ion-item>
        <ion-label>Heure d'allumage</ion-label>
        <ion-datetime displayFormat="HH:mm"
                      name="startTime"
                      [(ngModel)]="appareil.startTime"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Heure d'extinction</ion-label>
        <ion-datetime displayFormat="HH:mm"
                      name="endTime"
                      [(ngModel)]="appareil.endTime"></ion-datetime>
      </ion-item>

    </ion-list>

    <button type="button"
            ion-button
            full
            color="danger"
            (click)="onDeleteHours()">Supprimer horaire</button>

    <button type="submit"
            ion-button 
            full
            color="secondary">Enregistrer horaire</button>

  </form>

</ion-content>