<ion-header>

  <ion-navbar>
    <ion-buttons>
      <button ion-button clear (click)="dismissModal()">Fermer</button>
    </ion-buttons>
    <ion-title>{{ appareil.name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-header>{{ appareil.name }}</ion-card-header>
    <ion-card-content>
      <p *ngFor="let description of appareil.description">{{ description }}</p>
    </ion-card-content>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col *ngIf="appareil.isOn">
        <button ion-button
                full
                color="danger"
                (click)="onToggleAppareil()">Eteindre</button>
      </ion-col>
      <ion-col *ngIf="!appareil.isOn">
        <button ion-button
                full
                color="secondary"
                (click)="onToggleAppareil()">Allumer</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>